rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null
    }

    function userIsModerator() {
      return request.auth.token.isModerator == true;
    }

    // The name of userId can be anything
    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
    }
    match /posts/{postId} {
      allow read: if (resource.data.visibility == "public") ||
        (resource.data.authorId == request.auth.uid);
      allow update: if (resource.data.authorId== request.auth.uid) ||
         userIsModerator();
    }
    
    match /rooms/{room} { 
      function isValidUser() {
        return isSignedIn()
      }
      
      allow read, write: if isValidUser();
    
      match /messages/{document=**} {
        allow read, write: if resource.data.from == request.auth.uid;
      }
    }

    match /examanations/{docId} {
      allow read: if true;
    }
  }
}